# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Environments
.venv/
venv/
env/
ENV/
*.env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
