{% extends 'base.html' %}

{% block title %}Список записей{% endblock %}

{% block content %}
    <h1>Мои записи</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Настроение</th>
                <th>Краткая заметка</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in object_list %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.mood }}</td>
                    <td>{{ entry.note|slice:":120" }}</td>
                    <td>
                        <a href="{% url 'entries:update' entry.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="{% url 'entries:delete' entry.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'entries:export_csv' %}" class="btn btn-primary">Скачать CSV</a>
    <a href="{% url 'entries:create' %}" class="btn btn-primary">Новая запись</a>
    <a href="{% url 'entries:report_week' %}" class="btn btn-primary">Перейти к отчету за неделю</a>
    <a href="{% url 'entries:report_month' %}" class="btn btn-primary">Перейти к отчету за месяц</a>
{% endblock %}
